.container {
  flex-direction: column;
  padding: 0rem 2rem;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  margin-bottom: 1rem;
  text-align: left;
  max-width: 100%;
  margin-top: 10px;
}

.header h1 {
  font-weight: 600;
}

.header h4 {
  margin-top: 5px;
  font-weight: 200;
}

.gallery {
  margin: 10px auto;
  max-width: 1000px;
}

.sorting {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  padding: 10px 0px;
}

.sortingLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding-right: 10px;
  margin-right: auto;
}
.sortingLeft a {
  display: flex;
  align-items: center;
}

.main {
  padding: 10px auto;
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 1000px;
  }
}
